.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}
#tArea {
  padding-top: 40px;
}
button {
  align-self: center;
}
.btn {
  display: flex;
  justify-content: center;
}
label {
  float: left;
}
.cbtn {
  display: flex;
  justify-content: right;
}
.cont {
  display: none;
}
#ans {
  margin-top: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
}
#inp {
  margin-top: 10px;
}
